#!/usr/bin/make -f

#DH_VERBOSE=1

PLG_PACKAGE = $(filter-out %-dbg, $(shell dh_listpackages))
DBG_PACKAGE = $(filter %-dbg, $(shell dh_listpackages))

.PHONY: override_dh_strip override_dh_auto_install clean dh_auto_clean

override_dh_strip:
	dh_strip --dbg-package=$(DBG_PACKAGE)

override_dh_auto_install:
	dh_auto_install --destdir=debian/$(PLG_PACKAGE)

override_dh_clean:
	dh_clean
	# Radikales Aufräumen: Zwingt Debian, alle temporären Bau-Ordner restlos zu löschen
	rm -rf debian/vdr-plugin-image-next debian/vdr-plugin-image-next-dbg debian/.debhelper debian/tmp debian/files debian/*.substvars debian/*.debhelper.log

%:
	dh $@ --with vdrplugin
